<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Catégories</title>
</head>
<body>
    <h1>Liste des départements</p></h1>
    {% for category in categories %}
        <div>
            <h2>
                <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
            </h2>
            
            {% if category.subcategories.all %}
                <ul>
                    {% for subcategory in category.subcategories.all %}
                        <li>
                            <a href="{% url 'category_detail' subcategory.id %}">{{ subcategory.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
    {% endfor %}<a href="{% url 'accueil' %}">Retour à l'accueil</a>
</body>
</html>
